# Operating Sytstem files
.DS_Store

# SASS
/.sass-cache/

# Build artifacts
/spec/coffee/jspecSuite-latest.coffee

# Build artifacts
/src/coffee/jspec-latest.coffee

# CSS Source
/src/css/

# Javascript Source
/src/js/

# Javascript Specs
/spec/js/

# Node Modules
/node_modules/

# Sublime Text workspace file
/*.sublime-workspace
